<h1>Material fields with validation</h1>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" [formControl]="nameFormControl" [errorStateMatcher]="nameStateMatcher">
    <mat-error *ngIf="nameFormControl.hasError('required')">Name is required</mat-error>

    <mat-error *ngIf="nameFormControl.hasError('pattern')">Provide valid name</mat-error>

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
<br>

<h1>DateTime Picker</h1>
<div class="col-md-5 c input-group">
  <input type="text" class="form-control select_box1" [(ngModel)]="currentDate" name="date" [owlDateTime]="datePicker"
    [owlDateTimeTrigger]="datePicker" [min]="minDate" placeholder="Date">
  <owl-date-time [pickerType]="'calendar'" #datePicker></owl-date-time>
</div>

<div class="col-md-6 c input-group">
  <input type="text" class="form-control select_box1" [(ngModel)]="currentTime" name="time" [owlDateTime]="timePicker"
    [owlDateTimeTrigger]="timePicker" [min]="minDate" placeholder="Time">
  <owl-date-time [pickerType]="'timer'" #timePicker></owl-date-time>
</div>